.jumbotron {
    background-color: rgba(255, 159, 70, 1);
    color: rgba(255,255,255, 1);
    text-align: left;
    font-size: 16px;
    height: 70px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    font-family: "Maven Pro", sans-serif;
}
#netIdButton {
    text-align: right;
    color: black;
}