<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | About</title>
	{% include 'imports.html' %}
</head>

<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<h3>What is MealMatch, anyway?</h3>
		<p> So! You have no friends. Find friends over meals with MealMatch.</p>
	</div>
	<div class="container-fluid" id="developers">
		<hr>
		<h3>Who built this? </h3>
		<p>Rajiv</p><br>
		<p>Adam</p><br>
		<p>Ameya</p><br>
		<p>Jeremy</p><br>
	</div>
	<div class="container-fluid">
		<hr>
		<h3>Acknowledgements</h3>
		Dora Zhao<br>
		Bobby D<br>
	</div>
</body>

</html>