<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | About</title>
	{% include 'imports.html' %}
</head>

<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<br>
		<h3>What is MealMatch, anyway?</h3>
		<p> Want to meet new people? Want to find people to eat with?  Find friends over meals with MealMatch. Tell us where and when you want to eat, and MealMatch will pair you with a buddy to eat with!</p>
		<p> MealMatch sends you text notifications whenever we find you a match! Upon finding a match, MealMatch gives you a quick bio and the contact information of your match. </p>
		<p>From here, text your match, meet up in a dining hall, and become best friends!</p>
	</div>
	<div class="container-fluid" id="developers">
		<hr>
		<h3>Who built this? </h3>
		<div class="row">
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/rajiv.png"  class="rounded-circle about_img">
				<p>Rajiv Swamy<br>rswamy@princeton.edu</p>				
			</div>
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/adam.png"   class="rounded-circle about_img">
				<p>Adam Kelch<br>akelch@princeton.edu</p>
			</div>
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/ameya.png"  class="rounded-circle about_img">
				<p>Ameya Vaidya<br>avaidya@princeton.edu</p>
			</div>
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/jeremy.png" class="rounded-circle about_img">
				<p>Jeremy Dapaah<br>jdapaah@princeton.edu</p>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="developers">
		<hr>
		<h3>Feedback</h3>
		Want to give feedback to improve MealMatch? Tell us your thoughts 
		<a href = "https://forms.gle/wMZo4r2qRDsmL9Ts6" target = "_blank">here</a>.

	</div>

	<div class="container-fluid">
		<hr>
		<h3>Acknowledgements</h3>
		<a style="color:black;" href="https://dorazhao99.github.io/">Dora Zhao, Graduate TA</a><br>
		<a style="color:black;" href="https://www.cs.princeton.edu/~rdondero/">Dr. Robert Dondero, Course Professor</a><br>
	</div>



</body>

</html>
<style>
	.about_img{
		height: 200px;
		border: 1px;
		border-radius: 10px;
	}
</style>