<!DOCTYPE html>
<html>

<head>
   <title>MealMatch</title>
</head>

<body>
   <h2>Create Account</h2>
   <hr>
   <form action="/submit_profile_form" method="get">
      <table>
         <tr>
            <td align="right">
               Name:
            </td>
            <td>
               <input name="name" required value="{{existing_profile_info['name']}}"><br>
            </td>
         </tr>
         <tr>
            <td align="right">
               Year:
            </td>
            <td>
               <select name="year" required> <!-- Update to be dynamic - one of them needs the selected tag-->
                  <option disabled selected hidden value="">Select your year</option>
                  <option name="senior_class">{{senior_class}}</option>
                  <option name="junior_class">{{senior_class+1}}</option>
                  <option name="sophomore_class">{{senior_class+2}}</option>
                  <option name="freshman_class">{{senior_class+3}}</option>
               </select>
            </td>
         </tr>
         <tr>
            <td align="right">
               Major:
            </td>
            <td> <!-- Update to be dynamic - one of them needs the selected tag-->
               <select name="major" required>
                  <option disabled selected hidden value="">Choose your major</option>
                  {% for major in majors %}
                  <option>{{major}}</option>
                  {% endfor %}
               </select>
            </td>
         </tr>
         <tr>
            <td align="right">
               Bio:
            </td>
            <td>
               <input name="bio" required value="{{existing_profile_info['bio']}}"><br>
            </td>
         </tr>
         <tr>
            <td align="right">
               Phone Number:
            </td>
            <td>
               <input type="tel" name="phonenum" pattern="[0-9]{10,}" required value="{{existing_profile_info['phonenum']}}"><br>
            </td>
         </tr>
         <tr>
            <td></td>
            <td><input type="submit" value="Get Started!"><br></td>
         </tr>
      </table>
   </form>
   <hr>
</body>

</html>