<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | {{title_value}}</title>
	{% include 'imports.html' %}
</head>

<body>
	{% include 'header.html' %}

	<div class="container-fluid">
		<div style="margin-top: 10px;">
			<h2>{{title_value}}</h2>
		</div>
		<hr>
		<form action="/submit_profile_form" method="get">
			<table>
				<tr>
					<td align="right">Name:</td>
					<td>
						<input class="form-control profileInput" name="name" required
							value="{{existing_profile_info['name']}}">
					</td>
				</tr>
				<tr>
					<td align="right">Year:</td>
					<td>
						<select class="form-select profileInput" name="year" required>
							<option disabled selected hidden value="">Select your year</option>
							{%for i in range(-1, 4)%}
							{%set output = senior_class+i %}
							{% if i == -1 %}
							{%set output = "Grad College" %}
							{% endif %}
							{% if senior_class+i==existing_profile_info['year'] %}
							<option selected>{{output}}</option>
							{% else %}
							<option>{{output}}</option>
							{% endif %}
							{%endfor%}
						</select>
					</td>
				</tr>
				<tr>
					<td align="right">Major:</td>
					<td>
						<select class="form-select profileInput" name="major" required>
							<option disabled selected hidden value="">Choose your major</option>
							{% for major in majors %}
							{% if major==existing_profile_info['major'] %}
							<option selected>{{major}}</option>
							{% else %}
							<option>{{major}}</option>
							{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>

				<tr>
					<td align="right">Bio:</td>
					<td>
						<textarea class="form-control profileInput" placeholder="Tell your future match somethings about yourself! Any good conversation starters?"
							name="bio">{{existing_profile_info['bio']}}</textarea>
					</td>
				</tr>

				<tr>
					<td align="right">Phone Number:</td>
					<td>
						<input class="form-control profileInput" type="tel" name="phonenum"
							placeholder="10 digits, no dashes etc." pattern="[0-9]{10}" required
							value="{{existing_profile_info['phonenum']}}">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input class="form-control profileInput orange-moon mainButton enter-button"
							type="submit" value="{{button_value}}">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<hr>
</body>

</html>

<style>
	.profileInput {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	body {
		font-family: "Maven Pro", sans-serif;
	}

	.mainButton:hover {
		transform: scale(1.05) perspective(1px);
	}
</style>