<html>
	<body>
		<div class = "jumbotron container-fluid">
			<nav class="navbar justify-content-between">
				<a class="navbar-brand" id="HomeButton" href="/index" >MealMatch</a>
				<div>
					<a class="navbar-link NB-Button" href="/about">About</a>
					<!-- TODO update logic so that shows when not logged in -->
					{% if landing %}
					<a class="navbar-link NB-Button" href="/next">Log In</a>
					{% else %}
					<a class="navbar-link NB-Button" href="/logout">Logout</a>
					{%endif%}
				</div>
			</nav>
		</div>
	</body>
</html>