<html>

<body>
	<div class="jumbotron container-fluid orange-moon">
		<nav class="navbar justify-content-between">
			<a class="navbar-brand" id="HomeButton" href="/index">MealMatch</a>
			<div>
				<a class="navbar-link NB-Button" href="/about">About</a>
				|
				<!-- TODO update logic so that shows when not logged in -->
				<a class = "navbar-link NB-Button" href = "/tutorial">Tutorial</a>
				|
				{% if logged_out or landing%}
				<a class="navbar-link NB-Button" href="/next">Log In</a>
				{% else %}
				<a class="navbar-link NB-Button" href="/logout">Logout</a>
				{%endif%}
			</div>
		</nav>
	</div>
</body>
<style>
	.NB-Button {
		font-weight: 300;
		padding-top: 5px;
		padding-bottom: 5px;
		color: white;
		text-decoration: none;
	}

	#HomeButton {
		font-family: "Maven Pro", sans-serif;
		font-weight: 900;
		color: white;
		font-size: 32px;
	}

	.jumbotron {
		background-color: #ff9f46;
		color: white;
		text-align: left;
		font-size: 16px;
		height: 70px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
</style>

</html>