<!DOCTYPE html>
<html>

<head>
	<title>MealMatch</title>
	{% include 'imports.html' %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

</head>

<body>
	{% include 'header.html' %}
	<center>
		<div class="container-fluid btn-group" id="mainContainer">
			<div class="row w-100" id="rowTest">

				<!-- Should only be active during meals -->
				<div class="col-sm-4">
					<form action='/ondemand'>
						<button class="btn-lg btn-block hPageButton" id="grabMealButton"
						data-toggle="tooltip" data-placement="top" title="Find a meal at the dining hall ASAP.">
							<img class="home_img_class" src="/static/diningchairslogo.png" alt="grab meal"
							> </img><br>
							I'M AT A DHALL
						</button>
					</form>
				</div>

				<div class='col-sm-4'>
					<form action="/schedule">
						<button class="btn-lg btn-block hPageButton"
						data-toggle="tooltip" data-placement="top" title="Schedule a meal for the near future.">
							<img class="home_img_class" src="/static/mealtime_icon.png"
								alt="schedule a meal"
								></img><br>
							SCHEDULE A MEAL
						</button>
					</form>
				</div>

                <div class='col-sm-4'>
					<form action="/matches">
						<button class="btn-lg btn-block hPageButton"
						data-toggle="tooltip" data-placement="top" title="Check and accept potential matches.">
							<img class="home_img_class" src="/static/matched_icon.png" alt="matches"
							> </img><br>
							MATCHES
						</button>
					</form>
				</div>


				<div class='col-sm-4'>
					<form action="/requests">
						<button class="btn-lg btn-block hPageButton"
						data-toggle="tooltip" data-placement="top" title="Check pending meal requests.">
							<img class="home_img_class" src="/static/hourglass.png"
								alt="scheduled meals"
								></img><br>
							REQUESTS
						</button>
					</form>
				</div>


				<div class='col-sm-4'>
					<form action="/history">
						<button class="btn-lg btn-block hPageButton"
						data-toggle="tooltip" data-placement="top" title="Check a history of past matches.">
							<img class="home_img_class" src="/static/match_history.png" alt="history"
							> </img><br>
							PAST MATCHES
						</button>
					</form>
				</div>

				<div class='col-sm-4'>
					<a href="/edit_account?valid_phonenum=1">
						<button class="btn-lg btn-block hPageButton"
						data-toggle="tooltip" data-placement="top" title="Check and edit profile info.">
							<img class="home_img_class" src="/static/profilepiclogowhite.png"
								alt="my profile"
								></img><br>
							MY PROFILE
						</button>
					</a>
				</div>

			</div>
		</div>
	</center>

</body>
<script>
	$('#mainContainer').ready(function () {
  	$('[data-toggle="tooltip"]').tooltip()
	})
</script>



</html>
<style>
	* {
		box-sizing: border-box;
		font-family: "Maven Pro", sans-serif;
	}

	.home_img_class {
		width: 100px;
		height: 100px;
	}

	#mainContainer {
		margin-top: 25px;
		margin-bottom: 25px;
		padding-bottom: 10px;
	}

	.hPageButton {
		margin: 20px;
		background-color: #ff9f46;
		color: white;
		border: none;
		width: 200px;
		height: 200px;
	}
	.hPageButton:hover {
		transform: scale(1.05) perspective(1px)
	}

	
</style>