<!DOCTYPE html>
<html>

<head>
	<title>MealMatch</title>
	{% include 'imports.html' %}
</head>

<body>
	{% include 'header.html' %}
	<center>
		<div class="container-fluid btn-group" id="mainContainer">
			<div class="row w-100" id="rowTest">

				<!-- Should only be active during meals -->
				<div class="col-sm-4">
					<form action='/ondemand'>
						<button class="btn-lg btn-block homeButton btn-orange-moon" id="grabMealButton">
							<img class="home_img_class" src="/static/diningchairslogo.png" alt="grab meal"> </img><br>
							I'M AT A DHALL
						</button>
					</form>
				</div>

				<div class='col-sm-4'>
					<form action="/schedule">
						<button class="btn-lg btn-block homeButton">
							<img class="home_img_class" src="/static/mealtime_icon.png"
								alt="schedule a meal"></img><br>
							SCHEDULE A MEAL
						</button>
					</form>
				</div>

                <div class='col-sm-4'>
					<form action="/matches">
						<button class="btn-lg btn-block homeButton">
							<img class="home_img_class" src="/static/matched_icon.png" alt="matches"> </img><br>
							MATCHES
						</button>
					</form>
				</div>


				<div class='col-sm-4'>
					<form action="/requests">
						<button class="btn-lg btn-block homeButton">
							<img class="home_img_class" src="/static/hourglass.png"
								alt="scheduled meals"></img><br>
							REQUESTS
						</button>
					</form>
				</div>


				<div class='col-sm-4'>
					<form action="/history">
						<button class="btn-lg btn-block homeButton">
							<img class="home_img_class" src="/static/match_history.png" alt="history"> </img><br>
							PAST MATCHES
						</button>
					</form>
				</div>

				<div class='col-sm-4'>
					<form action="/edit_account">
						<button class="btn-lg btn-block homeButton">
							<img class="home_img_class" src="/static/profilepiclogowhite.png"
								alt="my profile"></img><br>
							MY PROFILE
						</button>
					</form>
				</div>

			</div>
		</div>
	</center>

</body>




</html>
<style>
	* {
		box-sizing: border-box;
		font-family: "Maven Pro", sans-serif;
	}

	.home_img_class {
		width: 100px;
		height: 100px;
	}

	#mainContainer {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}

	.homeButton {
		margin: 20px;
		background-color: #ff9f46;
		color: white;
		border: none;
		width: 200px;
		height: 200px;

		/* ff9f46 */
    

	}

	
</style>