<!DOCTYPE html>
<html>

<head>
	<title>Welcome to MealMatch!</title>
	{% include 'imports.html' %}
	<style type="text/css">
		html,
		body {
			height: 100%;
			width: 100%;
			margin: 0px 0px 0px 0px;

		}

		#wrapper {
			min-height: 100%;
			background: rgba(0, 0, 0, 0.65);
		}
	</style>
</head>


<body>
	<!-- Section for header -->
	{% include 'header.html' %}
	<div id="wrapper">
		<!-- Section for description -->
		<div id="mainWindow" style = "vertical-align: middle; align-items: center;">
			<center>
				<div style="display: flexbox; align-items: center; justify-content: center;
				line-height: 1.5; display: inline-block; vertical-align: middle;">
					<div class="row justify-content-center">
						<div class="col-4" id="landingText">
							<h3>Match for Meals!</h3>
						</div>
					</div>
					<center>
						<div class="row justify-content-center">
							<div class="col-8">
								<p class="text-center">MealMatch is an online app that enables Princeton
									University students to meet new people over meals at dining halls.
									Use our app to enjoy your food and make new friends!</p>
							</div>
						</div>
					</center>
					<div class="row justify-content-center">
						<div class="col-4">
							<a class="btn btn-primary btn-lg orange-moon enter-button" href="/next" role="button">
								Log In</a>
						</div>
					</div>
				</div>
			</center>
		</div>
</body>

</html>

<style>
	* {
		box-sizing: border-box;
		font-family: "Maven Pro", sans-serif;
	}

	body {
		background-image: url('/static/photos/roma.jpeg');
		color: white;
		background-size: cover;
		background-repeat: no-repeat;

	}

	#landingText {
		margin-top: 20px;
	}
	

</style>