<!DOCTYPE html>
<html>

<head>
	{% if all_matches|length == 0 %}
		{% if all_requests|length == 0 %}
			<title>MealMatch | No Matches</title>
		{% else %}
			<title>MealMatch | View Meal Requests</title>
		{% endif %}
	{% else %}
		<title>MealMatch | View Upcoming Matches!</title>
	{% endif %}


	{% include 'imports.html' %}
	<link rel="stylesheet" href="static/empty.css">
</head>

<body>
	{% include 'header.html' %}

	{% if all_matches|length == 0 %}
		{% if all_requests|length == 0 %}
			<div class="container-fluid">
				<h2 id="bigMatch" class="matchesText"> Your queue is empty! </h2>
				<p id="description" class="matchesText"> This means that we don't have any pending or confirmed matches
					for you. Feel free to make a new meal request and find a meal buddy! </p>
				<div class="container-fluid matchesText">
						<a href="/ondemand">
							<button class="btn-lg submitReqButton orange-moon enter-button">Make an on-demand meal request</button>
						</a>
						<a href="/schedule">
							<button class="btn-lg submitReqButton orange-moon enter-button">Make a scheduled meal request</button>
						</a>
				</div>

			</div>
		{% endif %}
	{% else %}
		{% include 'match-comp.html' %}
	{% endif %}
	{% if all_requests|length != 0 %}
		{% include 'request-comp.html' %}
		{% if all_matches|length == 0 %}
		<br/>
		<div class="container-fluid">
			<br/>
			<h2 id="bigMatch" class="matchesText"> You don't have any current matches! </h2>
			<p id="description" class="matchesText"> This means that you have a pending meal request but have not yet matched with anyone. <br/>
				We will let you know via text when a match has been found. Come check back later! </p>
			<div class="container-fluid matchesText">
					 
			</div>

		</div>
		{% endif %}
	{% endif %}
	{% if recur_request != None %}
		{% include 'recur_request-comp.html' %}
	{% endif %}
</body>

<script>
	$('#statusTooltip').ready(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
</script>
<style>
	#matchButton {
		margin: 10px;
	}

	.card {
		margin-top: 20px;
	}

	.cardText {
		margin-left: 30px;
	}

	.sml_button {
		background-color: #ff9f46;
		color: white;
	}
</style>

</html>