<center>
	<div style="margin-top: 10px;">
		<h2 class="forceMaven">Your Matches</h2>
		<hr>
	</div>
</center>
{% for matches in all_matches %}
<div class="container-fluid">

	<div class="card">
		<div class='row align-content-center'>
			<div class="card-body col-sm-9">
				<strong class="cardText"><b>{{matches['other_name']}}</b></strong><br>
				<strong class="cardText">
					{% if matches['lunch'] %}
					{% if matches['end'].isoweekday() == 6 or matches['end'].isoweekday() == 7%}
					{% set meal= "Brunch" %}
					{%else%}
					{% set meal= "Lunch" %}
					{%endif%}
					{% else %}
					{% set meal= "Dinner" %}
					{%endif%}
					{{meal + ' @ ' + matches['dhall'] + ' from ' +
					matches['start'].strftime('%-I:%M%p') + " - " +
					matches['end'].strftime('%-I:%M%p') }}
				</strong>
				<br>
				<strong class="cardText">{{matches['other_year']}}{{", " + matches['other_major']}}</strong><br>
				{% if matches['first_accepted'] == "Both Accepted!" %}
				<strong class="cardText">Phone #: {{matches['other_phonenum']}}</strong><br>
				{%endif%}
				<button class="cardText btn-sm btn-secondary" data-bs-toggle="modal"
					data-bs-target="#Modal_{{matches['match_id']}}"
					style="background-color: #bbb; border: 0px; margin-top: 5px;">View {{matches['other_name']}}'s
					Bio</a>
			</div>
			<div class="card-body col-sm-3 row">

				<center>
					<div>
						{% if matches['first_accepted'] != "Both Accepted!" %}
						<strong id="statusTooltip">Status: Match Pending
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-info-circle" viewBox="0 0 16 16" data-toggle="tooltip"
								data-bs-placement="top"
								title="Check back later and look out for a text notification that your match has been made!">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
								<path
									d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
							</svg>
						</strong>
						{% else %}
						<strong id="statusTooltip" style="color: #4b9e4b">Status: Match Made!
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-info-circle" viewBox="0 0 16 16" data-toggle="tooltip"
								data-bs-placement="top" title="Text your match to coordinate your meal!">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
								<path
									d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
							</svg>
						</strong>
						</strong>
						{%endif%}
					</div>
					{% if matches['first_accepted'] != '' %}
					<a id="matchStatus">{{matches['first_accepted']}}</a>
					{% else %}
					<form id="matchButton" method="POST"
						action="/acceptmatch?matchid={{matches['match_id']}}&phonenum={{matches['other_phonenum']}}">
						<button class='btn-sm' style="background-color: #4b9e4b; color: white; border: 0cm">Accept
							Match
						</button>
					</form>
					{% endif %}
					<form id="matchButton" method="POST"
						action="/cancelmatch?matchid={{matches['match_id']}}&phonenum={{matches['other_phonenum']}}">
						<button class='btn-sm' style="background-color: #c55353; color: white; border: 0cm">Cancel
							Match
						</button>
					</form>
				</center>
			</div>
		</div>
	</div>
	<div class="modal fade" id="Modal_{{matches['match_id']}}" tabindex="-1"
		aria-labelledby="ModalLabel_{{matches['match_id']}}" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ModalLabel_{{matches['match_id']}}">
						{{matches['other_name']}}'s Bio</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<span>{{matches['other_bio']}}</span><br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary sml_button" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
{%endfor%}