<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | No Past Matches</title>
	{% include 'imports.html' %}
	<link rel="stylesheet" href="static/empty.css">
</head>

<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<h2 id="bigMatch" class="matchesText"> You don't have any past matches! </h2>
		<p id="description" class="matchesText"> This means that you haven't matched with anyone yet. Go back to the home screen to submit meal requests and find a match! </p>
	</div>
	<div class="container-fluid matchesText">
		<a href="/index">
			<button class="btn-lg submitReqButton orange-moon enter-button">Back to home screen</button>
		</a>
	</div>
</body>

</html>