<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | No Requests</title>
	{% include 'imports.html' %}
	<link rel="stylesheet" href="static/empty.css">
</head>

<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<h2 id="bigMatch" class="matchesText"> You don't have any active requests! </h2>
		<p id="description" class="matchesText"> This means that you haven't submitted any requests to eat with anyone
			or that your requests have expired or been cancelled by you. However, you could have potential matches to respond to!</p>
	</div>
	<div class="container-fluid matchesText">
		<a href="/matches">
			<button class="btn-lg submitReqButton orange-moon enter-button">Check out my matches</button>
		</a>
	</div>
</body>

</html>