<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | Match Now!</title>
	{% include 'imports.html' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
	{% include 'header.html' %}
	<center>
		<div id='hallType' class="container">
			<div class="btn-group-sm menuButton" style="font-size: 18px;">
				I'm currently at:
				{% for dhall in dhalls %}
				<button class='btn-lg dHallType' id='{{dhall}}'>{{dhall}}</button>
				{%endfor%}
			</div>

		</div>
		<div class=container>
			<a target="_blank" href="https://tigermenus.herokuapp.com/">Check out what the dining halls are
				serving</a><br>
		</div>

		<div id='mealTimes' class="container row">
			<div class="btn-group-sm dropdown" id='time' style="font-size: 18px;">
				I'm free until:
				<input required class='btn-sm' type='time' step='60' id='endTimeButton'>
			</div>
		</div>

		<div>
			<div class='container row'>
				<a id="submitButtonForm" href="/ondemand">
					<button class='btn-lg submitButton'>Find me a match!</button>
				</a>
			</div>
		</div>




	<div class="container row" id = "errorBox" style = "color: red">
		
		
	</div>



</body>

</html>


<script>
	'use strict';
	// Jeremy's work to error-prove the UI
	function isWeekend() {
		let dayOfWeek = (new Date()).getDay();
		return (dayOfWeek == 6) || (dayOfWeek == 0);
	}
	function isDinnerTime() {
		let hour = (new Date()).getHours();
		// dinner time is from 5pm-8pm
		// do not worry about matches being made exactly at 8pm,
		// will not be valid for matches due to < 30 min availability
		return (17 <= hour) && (hour <= 19);
	}
	function isLunchTime() {
		let dateTime = new Date();
		let hour = dateTime.getHours();
		let minute = dateTime.getMinutes();
		// lunch time is from 11:30am-2pm
		// do not worry about matches being made exactly at 2pm,
		// will not be valid for matches due to < 30 min availability
		return (12 <= hour || (11 == hour && minute >= 30)) && (hour <= 13);
	}
	function updateEndTime() {
		let endTimeEL = document.getElementById('endTimeButton')
		let dateTime = new Date();
		if (isDinnerTime())
			endTimeEL.setAttribute('max', '20:00')
		else if (isLunchTime())
			endTimeEL.setAttribute('max', '14:00');
	}
	$('document').ready(updateEndTime);

	


	let dHallButtons = document.getElementsByClassName('dHallType')
	let activeDhall = "";

	for (let i = 0; i < dHallButtons.length; i++) {
		let btn = dHallButtons[i];
		btn.addEventListener('click',
			function () {
				activeDhall = btn.id;
				btn.style.backgroundColor = "#ff9f46";


				for (let j = 0; j < dHallButtons.length; j++)
					if (dHallButtons[j].id != btn.id) {
						dHallButtons[j].style.backgroundColor = "white";

					}
			});
	}

	//

	let submitButtonForm = document.getElementById("submitButtonForm");



	// update url to contain proper match request information
	function updateUrl() {
		console.log('called updateurl')

		let url = "/submitrequest"
		let endTime = document.getElementById("endTimeButton").value;
		if (activeDhall === "" || endTime === "")
			return;

		let activeMeal = "";
		if (isDinnerTime())
			activeMeal = 'dinner';
		else
			// else if(isLunchTime()) use in deployment
			activeMeal = 'lunch';

		url += "?meal=" + activeMeal;
		url += "&location=" + activeDhall;
		url += "&start=now";
		url += "&end=" + endTime;
		url += "&atdhall=True";

		submitButtonForm.setAttribute('href', url);

	};





		// compare times in string format HH:MM
		function compareTimeStrings(t1, t2){
			let hour1 = Number(t1.substring(0,2));
			let hour2 = Number(t2.substring(0,2));
			let min1 = Number(t1.substring(3));
			let min2 = Number(t2.substring(3));

			if(hour1 != hour2) return hour1 - hour2;
			else
				return min1 - min2;
		};




		// validate request fields, prevent submission if invalid
		submitButtonForm.addEventListener('click', function(event){
			
			event.preventDefault();
			
			let endTime = document.getElementById("endTimeButton").value;
			console.log(endTime);
			
			// determine if any dhall buttons have been pressed 'ON'
			let selected = activeDhall != ""

			console.log(activeDhall)

			// check if 
			let validMealTimes = validateTimes(endTime);

			console.log('valid mealtimes ' + validMealTimes)
			console.log('lunch time? : ' + isLunchTime())
			console.log('dinner time? : ' + isDinnerTime())
			

			
			document.getElementById('errorBox').innerHTML = ""
			
			let emptyFields = (endTime === "" || !selected)
			

			console.log('empty: ' + emptyFields)

			// takeout validMealTimes to remove lunch/dinner time validation
			if(emptyFields || !validMealTimes)
			{
				console.log('attempt to send invalid meal request')
				if(emptyFields)
					document.getElementById('errorBox').innerHTML += "<p>*Please select all fields to make a match request</p><br>"
				if(!validMealTimes)
					document.getElementById('errorBox').innerHTML += "<p>*Please enter valid times for a match request</p><br>"
				
				// prevents submission
				event.preventDefault();
			}
			// else 
			// {
			// 	console.log('submission')
			// 	updateUrl()
			// }
			event.preventDefault();

		});

		function validateTimes(t1) {
			console.log("validation, time: " + t1)
			if(t1 === "") return false;
			else 
			{

				let hour1 = Number(t1.substring(0,2));
				let min1 = Number(t1.substring(3));
				let now = new Date()

				let nowHour = String(now.getHours())
				let nowMin = String(now.getMinutes())
				
				// zero pad times
				if(now.getHours() < 10)
					nowHour = "0" + nowHour;
				if(now.getMinutes() < 10)
					nowMin = "0" + nowMin

				let nowTime = nowHour+":"+nowMin;
				console.log(nowTime)



				if(isDinnerTime())
				{
					let b = (compareTimeStrings(t1, "17:00") >= 0) && (compareTimeStrings(t1, "20:00") <= 0)
							&& (compareTimeStrings(t1, nowTime) >= 0);
					console.log("RETURN ME, dinner: " + b);
					return ("RET: "+compareTimeStrings(t1, "17:00") >= 0) && (compareTimeStrings(t1, "20:00") <= 0)
							&& (compareTimeStrings(t1, nowTime) >= 0);
				}
				else if(isLunchTime())
				{
					let b = (compareTimeStrings(t1, "11:30") >= 0) && (compareTimeStrings(t1, "14:00") <= 0)
							&& (compareTimeStrings(t1, nowTime) >= 0);
					console.log("RETURN ME, lunch: " + b);
					return (compareTimeStrings(t1, "11:30") >= 0) && (compareTimeStrings(t1, "14:00") <= 0)
							&& (compareTimeStrings(t1, nowTime) >= 0);
				}
				else
				{
					
					console.log("RET :" + false)

					return false;
				}
					
				
			}
		}
		


	let endTimeButton = document.getElementById("endTimeButton");


	endTimeButton.addEventListener('click', updateUrl);
	// update url on changing times
	endTimeButton.addEventListener('change', updateUrl);

</script>


<style>
	* {
		box-sizing: border-box;
	}

	body {
		font-family: "Maven Pro", sans-serif;
		font-weight: normal;
	}


	.jumbotron {
		font-family: "Maven Pro", sans-serif;
	}


	#header {
		font-weight: 900;
	}

	.outlineBox {
		width: 100%;
		height: 727px;
		background: rgba(255, 255, 255, 1);
		opacity: 1;
		position: absolute;

		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}

	#mealType {
		margin: 20px;
		margin-top: 20px;
	}

	.menuButton {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	button {
		background-color: white;
	}

	.submitButton {
		background-color: rgba(255, 159, 70, 1);
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
		color: white;
	}
</style>