<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | Match Now!</title>
	{% include 'imports.html' %}
</head>

<body class="forceMaven">
	{% include 'header.html' %}
	<center>
		<div id='hallType' class="container">
			<div class="btn-group-sm menuButton">
				I'm currently at:
				{% for dhall in dhalls %}
				<button class='btn-lg dHallType' id='{{dhall}}'>{{dhall}}</button>
				{%endfor%}
			</div>

		</div>
		<div class=container>
			<a target="_blank" href="https://campus.dailyprincetonian.com/menus">
				Check out what the dining halls are serving
			</a><br>
		</div>

		<div id='mealTimes' class="container row">
			<div class="btn-group-sm dropdown" id='time' style="font-size: 18px;">
				<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"
								data-toggle="tooltip" data-bs-placement="left" title="Click on the clock icon or type to enter your availability!">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
									<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
				</svg>  
				<script>
					// activate tooltips
				$('#time').ready(function () {
				$('[data-toggle="tooltip"]').tooltip()
				})
				</script>
				I'm free until:
				<input required class='btn-sm' type='time' step='60' id='endTimeButton'>
			</div>
		</div>

		<div>
			<div class='container'>
				<a id="submitButtonForm" href="/ondemand">
					<button class='btn-lg submitReqButton orange-moon enter-button'>Find me a match!</button>
				</a>
			</div>
		</div>

		<div class="container row" id="errorBox" style="color: red">
			<!-- catching invalid requests on back-end -->
			{% if error == "invalid_request": %}
			<p>*An attempt was made to submit a request with invalid parameters. Please refer to request guidelines to submit a valid request.</p><br>
			<!-- multiple requests in same meal period -->
			{% elif error != '': %}
			<p>*Please ensure that you do not submit multiple requests for the same meal period.</p><br>
			{% endif %}
		</div>
		
		<div class = "container" id = "hoursBox" style = "font-size: 18px;">
			Today's Dining Hall Hours: <br>
			{% if date.isoweekday() == 6 or date.isoweekday() == 7%}
				Brunch: 10AM - 2PM
			{%else%}
				Lunch: 11:30AM - 2PM
			{%endif%}
			<br>
			Dinner: 5PM - 8PM
		</div>
		
		
		<div class = "container" id = "currentMealtimeBox" style = "font-size: 18px;">
			<script type = "text/javascript">
				
				function isWeekend() {
					let dayOfWeek = (new Date()).getDay();
					return (dayOfWeek == 6) || (dayOfWeek == 0);
				}
				function isDinnerTime() {
					let hour = (new Date()).getHours();
					// dinner time is from 5pm-8pm
					// do not worry about matches being made exactly at 8pm,
					// will not be valid for matches due to < 30 min availability
					return (17 <= hour) && (hour <= 19);
				}
				function isLunchTime() {
					let dateTime = new Date();
					let hour = dateTime.getHours();
					let minute = dateTime.getMinutes();
					// lunch time is from 11:30am-2pm
					// do not worry about matches being made exactly at 2pm,
					// will not be valid for matches due to < 30 min availability

					if (isWeekend()) // weekend lunch hours are 10AM - 2PM
						return (10 <= hour) && (hour <= 13);
					else // weekday lunch hours, 11:30am -- 2pm
						return (12 <= hour || (11 == hour && minute >= 30)) && (hour <= 13);
				}

						var hoursBox = document.getElementById('currentMealtimeBox');
						if(isLunchTime())
						{
							if (isWeekend())
								hoursBox.innerHTML = "Current Mealtime: Brunch";
							else
							hoursBox.innerHTML = "Current Mealtime: Lunch";

						}
						else if (isDinnerTime())
							hoursBox.innerHTML = "Current Mealtime: Dinner";
						else
						hoursBox.innerHTML = "";
		
			</script>
		</div>



</body>

</html>


<script>
	'use strict';
	// Jeremy's work to error-prove the UI
	function isWeekend() {
		let dayOfWeek = (new Date()).getDay();
		return (dayOfWeek == 6) || (dayOfWeek == 0);
	}
	function isDinnerTime() {
		let hour = (new Date()).getHours();
		// dinner time is from 5pm-8pm
		// do not worry about matches being made exactly at 8pm,
		// will not be valid for matches due to < 30 min availability
		return (17 <= hour) && (hour <= 19);
	}
	function isLunchTime() {
		let dateTime = new Date();
		let hour = dateTime.getHours();
		let minute = dateTime.getMinutes();
		// lunch time is from 11:30am-2pm
		// do not worry about matches being made exactly at 2pm,
		// will not be valid for matches due to < 30 min availability

		if (isWeekend()) // weekend lunch hours are 10AM - 2PM
			return (10 <= hour) && (hour <= 13);
		else // weekday lunch hours, 11:30am -- 2pm
			return (12 <= hour || (11 == hour && minute >= 30)) && (hour <= 13);
	}
	function updateEndTime() {
		let endTimeEL = document.getElementById('endTimeButton')
		let dateTime = new Date();
		if (isDinnerTime())
			endTimeEL.setAttribute('max', '20:00')
		else if (isLunchTime())
			endTimeEL.setAttribute('max', '14:00');
	}
	$('document').ready(updateEndTime);




	let dHallButtons = document.getElementsByClassName('dHallType')
	let activeDhall = "";

	let anyDhallButton = document.getElementById('anyDhall');
	// is anyDhall active
	let isAnyActive = false;

	for (let i = 0; i < dHallButtons.length; i++) {
		let btn = dHallButtons[i];
		btn.addEventListener('click',
			function () {
				activeDhall = btn.id;
				btn.style.backgroundColor = "#ff9f46";


				for (let j = 0; j < dHallButtons.length; j++)
					if (dHallButtons[j].id != btn.id) {
						dHallButtons[j].style.backgroundColor = "";

					}
			});
	}

	//

	let submitButtonForm = document.getElementById("submitButtonForm");



	// update url to contain proper match request information
	function updateUrl() {
		console.log('called updateurl')

		let url = "/submitrequest"
		let endTime = document.getElementById("endTimeButton").value;


		let activeMeal = "";
		if (isDinnerTime())
			activeMeal = 'dinner';
		else
			// else if(isLunchTime()) use in deployment
			activeMeal = 'lunch';

		url += "?meal=" + activeMeal;
		url += "&location=" + activeDhall;
		url += "&start=now";
		url += "&end=" + endTime;
		url += "&atdhall=True";

		submitButtonForm.setAttribute('href', url);

	};



	function length(t1, t2) {
		let hour1 = Number(t1.substring(0, 2));
		let hour2 = Number(t2.substring(0, 2));
		let min1 = Number(t1.substring(3));
		let min2 = Number(t2.substring(3));

		let time1 = new Date();
		let time2 = new Date();
		time1.setHours(hour1);
		time1.setMinutes(min1);
		time2.setHours(hour2);
		time2.setMinutes(min2);

		let millis = time2.getTime() - time1.getTime();
		return millis / (1000 * 60);
	}


	// compare times in string format HH:MM
	function compareTimeStrings(t1, t2) {
		let hour1 = Number(t1.substring(0, 2));
		let hour2 = Number(t2.substring(0, 2));
		let min1 = Number(t1.substring(3));
		let min2 = Number(t2.substring(3));

		if (hour1 != hour2) return hour1 - hour2;
		else
			return min1 - min2;
	};




	// validate request fields, prevent submission if invalid
	submitButtonForm.addEventListener('click', function (event) {


		let endTime = document.getElementById("endTimeButton").value;
		console.log(endTime);

		// determine if any dhall buttons have been pressed 'ON'
		let selected = activeDhall != ""

		console.log(activeDhall)

		// check if 
		let validMealTimes = validateTimes(endTime);

		console.log('valid mealtimes ' + validMealTimes)
		console.log('lunch time? : ' + isLunchTime())
		console.log('dinner time? : ' + isDinnerTime())



		document.getElementById('errorBox').innerHTML = ""

		let emptyFields = (endTime === "" || !selected)

		let interval_len = 20;
		let startTime = new Date().toTimeString().substring(0, 5);
		let longEnoughInterval = length(startTime, endTime) >= interval_len;
		console.log('long enough interval?: ' + longEnoughInterval)

		console.log('empty: ' + emptyFields)

		// takeout validMealTimes to remove lunch/dinner time validation
		if (emptyFields || !validMealTimes || !longEnoughInterval) {
			console.log('attempt to send invalid meal request')
			if (emptyFields)
				document.getElementById('errorBox').innerHTML += "<p>*Please select all fields to make a match request</p><br>"
			else if (!validMealTimes && (isLunchTime() || isDinnerTime()))
			document.getElementById('errorBox').innerHTML += "<p>*The dining hall may not be open for the current mealtime at these hours. <br> Please refer to the dining hall hours enter valid times for a match request.</p><br>"
			if (!isLunchTime() && !isDinnerTime() && !emptyFields)
				document.getElementById('errorBox').innerHTML += '<p>*On demand meal requests cannot be made outside of dining hall hours. <br> Please try <a href = "/schedule" >scheduling a meal</a> or try again later.</p><br>'
			if (!longEnoughInterval && !emptyFields)
				document.getElementById('errorBox').innerHTML += "<p>*Please enter a time interval of at least " + interval_len + " minutes</p><br>"
			// prevents submission
			event.preventDefault();
		}
		else {
			console.log('submission successful')
			updateUrl()
		}


	});

	function validateTimes(t1) {
		console.log("validation, time: " + t1)
		if (t1 === "") return false;
		else {


			let nowTime = new Date().toTimeString().substring(0, 5);
			console.log('cur time', nowTime)

			// if dinner time, ensure endTime is in dinner hour range and is later than present time
			let dinner_bool = isDinnerTime() &&
				(compareTimeStrings(nowTime, t1) <= 0) &&
				(compareTimeStrings(t1, "20:00") <= 0);
			console.log("RETURN ME, dinner: " + dinner_bool);
			
			// if lunch time, ensure endTime is in lunch hour range and is later than present time
			let lunch_bool = isLunchTime() &&
				(compareTimeStrings(nowTime, t1) <= 0) &&
				(compareTimeStrings(t1, "14:00") <= 0);
			console.log("RETURN ME, lunch: " + lunch_bool);
			
			return lunch_bool || dinner_bool;

		}
	}



	let endTimeButton = document.getElementById("endTimeButton");


	endTimeButton.addEventListener('click', updateUrl);
	// update url on changing times
	endTimeButton.addEventListener('change', updateUrl);

	for (let i = 0; i < dHallButtons.length; i++)
		dHallButtons[i].addEventListener('click', updateUrl)


	function addAnyTimeButton() {
		
		var nowTime = (new Date()).toLocaleTimeString('en-GB').substring(0,5);
		
		if (isLunchTime() || isDinnerTime())
		{
			// add anyTime button
			var buttonString = '<button type="button" class="btn-sm" id = "anyTime" style = "margin-left: 10px;" data-toggle="tooltip" data-placement="bottom" title="Add the full time window for the selected meal period." onclick = "updateAnyTimes()">Rest of ';
			if (isLunchTime())
				buttonString += "Lunch </button>";
			else if (isDinnerTime())
			buttonString += "Dinner </button>";
			document.getElementById('time').innerHTML += buttonString;
			console.log("any time button added ");
		}
	}

	addAnyTimeButton()

	function updateAnyTimes()
		{
			
			var nowTime = (new Date()).toLocaleTimeString('en-GB').substring(0,5);
			console.log(nowTime);

			
			if (isLunchTime())
				document.getElementById('endTimeButton').setAttribute('value', '14:00');
			else if (isDinnerTime())
				document.getElementById('endTimeButton').setAttribute('value', '20:00');
			
		}


	document.getElementById('anyTime').addEventListener('mouseover', function(){anyTimeButton.style.backgroundColor = "#ff9f46";});
	document.getElementById('anyTime').addEventListener('mouseout', function(){anyTimeButton.style.backgroundColor = "";} );


		// activate tooltips
	$('#anyTime').ready(function () {
  	$('[data-toggle="tooltip"]').tooltip()
	})


</script>


<style>
	* {
		box-sizing: border-box;
	}

	body {
		font-weight: normal;
	}

	#anyTime:hover {
		background-color: "#ff9f46";
	}
</style>