<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configure Recurring Request</h5>
          <!-- <span aria-hidden="true">&times;</span> -->
      </div>
      <div class="modal-body">
        
          <center>
          <div id='hallType' class="container">
              <div class="btn-group-sm menuButton ">
                  <span style="font-size: smaller;">I want to eat at:</span> <br class = "mobile"/>
                  {% for dhall in dhalls%}
                  <button type = 'button' class='btn-lg dHallType' 
                  style="font-size: smaller;"
                  id='{{dhall}}'>{{dhall}}</button>
                      {% if (loop.index % 3) == 0 %}
                      <br class = "break"/>
                      {%endif%}
                  {% endfor %}
                  <button class='btn-lg' id='anyDhall' type = 'button'
                   style = "margin: 2px; margin-top: 10px; font-size: smaller;"
                   data-toggle="tooltip" data-bs-placement="right" title="Select every DHall as a potential meal location.">
                      Any DHall
                  </button>
              </div>
          </div>
        
          <div id='hallType' class="container">
              <div class="btn-group-sm menuButton ">
                  <span style="font-size: smaller;">On the following days:</span><br class = "mobile"/>
                  {% for day in ['Mon','Tues','Wed','Thurs',"Fri",'Sat','Sun']%}
                  <button class='btn-lg dayType' 
                  style="font-size: smaller;" type = "button"
                  id='{{day}}'>{{day}}</button>
                      {% if (loop.index % 3) == 0 %}
                      <br class = "break"/>
                      {%endif%}
                  {% endfor %}
              </div>
          </div>
        </center>
                  
          <div id='mealTimes' class="container row" style="font-size: smaller;">
              <div class="btn-group-sm dropdown" id='time' style="font-size: 18px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16"
                                  data-toggle="tooltip" data-bs-placement="left" title="Click on the clock icon or type to enter your availability!">
                                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>  
                  <script>
                      // activate tooltips
                      $('#time').ready(function () {
                      $('[data-toggle="tooltip"]').tooltip()
                      })
                  </script>
                  <span style="font-size: smaller;">I'm free from:</span>
                  <input class='btn-sm' type='time' step='60' id='startTimeButton' style = 'size-adjust: 75%;'>
                  <span style="font-size: smaller;">to</span>
                  <input  class='btn-sm' type='time' step='60' id='endTimeButton'>
                  
                  <!-- <button type="button" class="btn-sm" id = "anyTime" style = "margin-left: 10px;"
                       data-toggle="tooltip" data-placement="bottom" title="Select the full remaining meal period.">
                      Any Time
                    </button> -->
              </div>
          </div>

          <center>
          <div class='container' style="font-size: smaller;">
              <a id="submitButtonForm">
                  <!-- have it close modal and save info somehow -->
                  <button type = "button" class='btn-lg submitReqButton orange-moon enter-button'>Confirm</button>
              </a>
          </div>
          </center>


      </div>
      <div class="modal-footer">
        <button type="button" onclick="$('#exampleModal').modal('hide')" class="btn btn-secondary" id = "modal-close" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
  <script>
    let lunchButton = document.getElementById("lunchButton");
	let dinnerButton = document.getElementById("dinnerButton");
	let activeMeal = "";
	let activeDhalls = {};
    let activeDays = {};
	let dHallButtons = document.getElementsByClassName('dHallType');
    let dayButtons = document.getElementsByClassName('dayType');
	let anyDhallButton = document.getElementById('anyDhall');
    let isAnyActive = false;

    for (btn of dHallButtons) {
		activeDhalls[btn.id] = false;
	}

    for (day of dayButtons) {
		activeDays[day.id] = false;
	}


    for (let i = 0; i < dHallButtons.length; i++) {
		let btn = dHallButtons[i];
		btn.addEventListener('click',
			function () {

				dhall = btn.id;

				// select Dhall
				if (!activeDhalls[dhall]) {
					btn.style.backgroundColor = "#ff9f46";
					activeDhalls[dhall] = true;
				}
				else {
					btn.style.backgroundColor = "";
					activeDhalls[dhall] = false;
				}

				// deactivate anyDHall button
				if(isAnyActive)
				{
					anyDhallButton.style.backgroundColor = "";
					isAnyActive = false;
				
				}
				

				console.log(activeDhalls)

			});
	}


    for (let i = 0; i < dayButtons.length; i++) {
		let btn = dayButtons[i];
		btn.addEventListener('click',
			function () {

				day = btn.id;

				// select Dhall
				if (!activeDays[day]) {
					btn.style.backgroundColor = "#ff9f46";
					activeDays[day] = true;
				}
				else {
					btn.style.backgroundColor = "";
					activeDays[day] = false;
				}

				
				console.log(activeDays)

			});
	}

	anyDhallButton.addEventListener('click',
		function(){

			if(!isAnyActive)
				anyDhallButton.style.backgroundColor = "#ff9f46";
			else
				anyDhallButton.style.backgroundColor = "";
				
			for(let i = 0; i < dHallButtons.length; i++)
			{
				let btn = dHallButtons[i];
				
				// activate all buttons
				if(!isAnyActive)
					{
						activeDhalls[btn.id] = true;
						btn.style.backgroundColor = "#ff9f46";
					}
				else // deactivate all buttons
					{
						activeDhalls[btn.id] = false;
						btn.style.backgroundColor = "";
					}
			}
			// flip active flag
			isAnyActive = !isAnyActive;
		});

        document.getElementsByClassName('submitReqButton')[0].addEventListener('click',
        ()=>{document.getElementsByClassName('submitReqButton')[0].modal('hide')})

  </script>
</div>