<!DOCTYPE html>
<html>
    <head>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600;900&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/font.css">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>	
		<title> Meal Match | Schedule a Meal!</title>
	</head>

<body>
    {% include 'header.html' %}

<center>

	<div id = 'mealType' class = "container">
		<div class = "btn-group-sm menuButton" style = "font-size: 18px;"> 
			I want to eat:
			<button class = 'btn-lg' id = 'lunchButton'> Lunch </button>
			<button class = 'btn-lg' id = 'dinnerButton'> Dinner </button>
		</div>
	</div>

	<div id = 'hallType' class = "container">
		<div class = "btn-group-sm menuButton" style = "font-size: 18px;"> 
			I want to eat at:
			{% for dhall in dhalls%}
			<button class = 'btn-lg dHallType' id = '{{dhall}}'>{{dhall}}</button>
			{% endfor %}
		</div>
	</div>
	
	<div class = container>
		<a target="_blank" href="https://tigermenus.herokuapp.com/">Check out what the dining halls are serving</a><br>
	</div>

	<div id = 'mealTimes' class = "container row">
		<div class = "btn-group-sm dropdown" id = 'time' style = "font-size: 18px;"> 
			I'm free from:
			<input required class = 'btn-sm' type = 'time' step = '60' id = 'startTimeButton'></button> 
			to
			<input required class = 'btn-sm' type = 'time' step = '60' id = 'endTimeButton'></button>
		</div>
	</div>

	<div class = 'container row'>
		<a id = "submitButtonForm" href = "/index">
			<button class = 'btn-lg submitButton'> Find me a match!</button>
		</a>
	</div>

	<div class="container row">
		<p id = "errorBox" style = "color: red"></p>
	</div>
</center>
   
</body>

</html>

<script>
	function isDinnerTime(){
		let hour = dateTime.getHours();
		return (14 <= hour) && (hour <= 19);
	}
	function isLunchTime(){
		let hour = dateTime.getHours();
		let minute = dateTime.getMinutes();
		return (12 <= hour || (11==hour && minute>=30)) && (hour <= 13);
	}

	function updateTimeBoundaries(meal){
		let startTimeEL =  document.getElementById('startTimeButton')
		let endTimeEL =  document.getElementById('endTimeButton')
		let dateTime = new Date();
		// format string 
		curr = ("0"+dateTime.getHours()).slice(-2)+":"+("0"+dateTime.getMinutes()).slice(-2)
		if(meal==="dinner"){
			endTimeEL.setAttribute('max', '20:00');
			endTimeEL.setAttribute('min', curr);
			// startTimeEL.setAttribute('min', curr); TODO
			// startTimeEL.setAttribute('max', smthng);
		}
		else if(isLunchTime()){
			endTimeEL.setAttribute('max', '14:00');
			endTimeEL.setAttribute('min', curr);
			// startTimeEL.setAttribute('min', curr); TODO
			// startTimeEL.setAttribute('max', smthng);
		}
	}
	

	
		let lunchButton = document.getElementById("lunchButton");
		let dinnerButton = document.getElementById("dinnerButton");
		let activeMeal = "";
        let activeDhalls = {'CJL': false, "Forbes": false, 'RoMa': false, 'Whitman': false, 'Wucox': false};


		lunchButton.addEventListener('click', function onClick() {
			activeMeal = 'lunch';
			console.log('lunch Pressed');
			// updateTimeBoundaries(activeMeal)
			lunchButton.style.backgroundColor = "#ff9f46";
			dinnerButton.style.backgroundColor = 'white';

		});

		dinnerButton.addEventListener('click', function onClick() {
			activeMeal = 'dinner';
			console.log('dinner Pressed');
			// updateTimeBoundaries(activeMeal)
			dinnerButton.style.backgroundColor = "#ff9f46";
			lunchButton.style.backgroundColor = 'white';

		});


		let dHallButtons = document.getElementsByClassName('dHallType');

		for(let i = 0; i < dHallButtons.length; i++)
		{
			let btn = dHallButtons[i];
			btn.addEventListener('click',
			function() {
				
                dhall = btn.id;
               
               // select Dhall
                if(!activeDhalls[dhall]) 
				{
                    btn.style.backgroundColor = "#ff9f46";
                    activeDhalls[dhall] = true;
                } 
                else
                {
                    btn.style.backgroundColor = "white";
                    activeDhalls[dhall] = false;
                }

			});
		}



		//

		let submitButtonForm = document.getElementById("submitButtonForm");
		
		// update url to contain proper match request information
		function updateUrl(event) {
			let url = "/matchlanddummy"
			let startTime = document.getElementById("startTimeButton").value;
			let endTime = document.getElementById("endTimeButton").value;


			url += "?meal=" + activeMeal;
			url += "&location=";

            let dHallSelected = false;
			let dHallOptions = "";
            for(var dh in activeDhalls){
				if(activeDhalls[dh]){
					dHallOptions += (dh + "-");
					dHallSelected = true;
				}
			}

            if(endTime === "" || startTime === "" || activeMeal === "" || !dHallSelected)
			{	console.log('invalid match request')
				document.getElementById('errorBox').innerHTML = "*Please select all fields to make a match request"
				event.preventDefault();
				return;
			}

			// only update url if time, meal type, and location are all specified
            url+= dHallOptions.slice(0,-1);
			url += "&start=" + startTime;
			url += "&end=" + endTime;
			url += "&atdhall=False";

			submitButtonForm.setAttribute('href', url);	
		}

		submitButtonForm.addEventListener('click', function(event){
			updateUrl(event)
		});
		// TODO add more listeners so that times cant be backwards
</script>


<style>
    * {
	box-sizing: border-box;
	

}

body {
	font-family: "Maven Pro", sans-serif;
	font-weight: normal;
}

#header {
	font-weight: 900;
}

.outlineBox {
	width: 100%;
	height: 727px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

#mealType {
	margin: 20px;
    margin-top: 20px;
	
}

.menuButton {
	padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

button {
	background-color: white;
}

.submitButton {
	background-color: rgba(255, 159, 70, 1);
	padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}
</style>