<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | Schedule a Meal!</title>
	{% include 'imports.html' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
	{% include 'header.html' %}

	<center>

		<div id='mealType' class="container">
			<div class="btn-group-sm menuButton" style="font-size: 18px;">
				I want to eat:
				<button class='btn-lg' id='lunchButton'> Lunch </button>
				<button class='btn-lg' id='dinnerButton'> Dinner </button>
			</div>
		</div>

		<div id='hallType' class="container">
			<div class="btn-group-sm menuButton" style="font-size: 18px;">
				I want to eat at:
				{% for dhall in dhalls%}
				<button class='btn-lg dHallType' id='{{dhall}}'>{{dhall}}</button>
				{% endfor %}
			</div>
		</div>

		<div class=container>
			<a target="_blank" href="https://tigermenus.herokuapp.com/">Check out what the dining halls are
				serving</a><br>
		</div>

		<div id='mealTimes' class="container row">
			<div class="btn-group-sm dropdown" id='time' style="font-size: 18px;">
				I'm free from:
				<input required class='btn-sm' type='time' step='60' id='startTimeButton'></button>
				to
				<input required class='btn-sm' type='time' step='60' id='endTimeButton'></button>
			</div>
		</div>

		<div class='container row'>
			<a id="submitButtonForm" href="/submitrequest">
				<button class='btn-lg submitButton'> Find me a match!</button>
			</a>
		</div>

		<div class="container row" id="errorBox" style="color: red">
			{% if error != '': %}
			<p>*Please ensure that you do not submit multiple requests for the same meal period.</p><br>
			{% endif %}
		</div>
	</center>

</body>

</html>

<script>
	let lunchButton = document.getElementById("lunchButton");
	let dinnerButton = document.getElementById("dinnerButton");
	let activeMeal = "";
	let activeDhalls = { 'CJL': false, "Forbes": false, 'RoMa': false, 'Whitman': false, 'Wucox': false };


	lunchButton.addEventListener('click', function onClick() {
		activeMeal = 'lunch';
		console.log('lunch Pressed');
		lunchButton.style.backgroundColor = "#ff9f46";
		dinnerButton.style.backgroundColor = 'white';

	});

	dinnerButton.addEventListener('click', function onClick() {
		activeMeal = 'dinner';
		console.log('dinner Pressed');
		dinnerButton.style.backgroundColor = "#ff9f46";
		lunchButton.style.backgroundColor = 'white';

	});


	let dHallButtons = document.getElementsByClassName('dHallType');

	for (let i = 0; i < dHallButtons.length; i++) {
		let btn = dHallButtons[i];
		btn.addEventListener('click',
			function () {

				dhall = btn.id;

				// select Dhall
				if (!activeDhalls[dhall]) {
					btn.style.backgroundColor = "#ff9f46";
					activeDhalls[dhall] = true;
				}
				else {
					btn.style.backgroundColor = "white";
					activeDhalls[dhall] = false;
				}

				console.log(activeDhalls)

			});
	}

	let submitButtonForm = document.getElementById("submitButtonForm");

	// update url to contain proper match request information
	function updateUrl() {
		let url = "/submitrequest"
		let startTime = document.getElementById("startTimeButton").value;
		let endTime = document.getElementById("endTimeButton").value;


		url += "?meal=" + activeMeal;
		url += "&location=";

		let dHallSelected = false;
		let dHallOptions = "";
		for (var dh in activeDhalls) {
			if (activeDhalls[dh]) {
				dHallOptions += (dh + "-");
				dHallSelected = true;
			}
		}

		// only update url if time, meal type, and location are all specified
		url += dHallOptions.slice(0, -1);
		url += "&start=" + startTime;
		url += "&end=" + endTime;
		url += "&atdhall=False";

		submitButtonForm.setAttribute('href', url);
	}

	// compare times in string format HH:MM
	function compareTimeStrings(t1, t2) {
		let hour1 = Number(t1.substring(0, 2));
		let hour2 = Number(t2.substring(0, 2));
		let min1 = Number(t1.substring(3));
		let min2 = Number(t2.substring(3));

		if (hour1 != hour2) return hour1 - hour2;
		else
			return min1 - min2;
	};

	function validateTimes(t1, t2, meal) {

		if (t1 === "" || t2 === "" || meal === "") return false;
		else {


			let now = new Date()
			let nowHour = String(now.getHours())
			let nowMin = String(now.getMinutes())

			// zero pad times
			if(now.getHours() < 10)
					nowHour = "0" + nowHour;
			if(now.getMinutes() < 10)
					nowMin = "0" + nowMin
	
			let nowTime = nowHour+":"+nowMin;

			// times are within lunch range and not in past
			let lunch_bool = (meal === 'lunch') &&
				(compareTimeStrings("11:30", t1) <= 0) &&
				(compareTimeStrings(t1, t2) < 0) &&
				(compareTimeStrings(t2, "14:00") <= 0) &&
				(compareTimeStrings(t1, nowTime) >= 0) &&
				(compareTimeStrings(t2, nowTime) >= 0);

			// times are within dinner range and not in past
			let dinner_bool = (meal === "dinner") &&
				(compareTimeStrings("17:00", t1) <= 0) &&
				(compareTimeStrings(t1, t2) < 0) &&
				(compareTimeStrings(t2, "20:00") <= 0)
				(compareTimeStrings(t1, nowTime) >= 0) &&
				(compareTimeStrings(t2, nowTime) >= 0);

			return lunch_bool || dinner_bool;
		}
	}

	// validate request fields, prevent submission if invalid
	submitButtonForm.addEventListener('click', function (event) {

		let startTime = document.getElementById("startTimeButton").value;
		let endTime = document.getElementById("endTimeButton").value;
		console.log(startTime + " " + endTime);

		// determine if any dhall buttons have been pressed 'ON'
		let selected = false;
		for (var dh in activeDhalls)
			if (activeDhalls[dh])
				selected = true;

		console.log('dHallselected' + selected)

		// check if times are within the reasonable range and ordered correctly
		let validMealTimes = validateTimes(startTime, endTime, activeMeal);
		console.log('valid mealtimes ' + validMealTimes)

		let emptyFields = (endTime === "" || startTime === "" || activeMeal === "" || !selected)
		console.log('empty: ' + emptyFields)

		document.getElementById('errorBox').innerHTML = ""
		// takeout validMealTimes to remove lunch/dinner time validation
		if (emptyFields /*||  !validMealTimes*/) {
			console.log('attempt to send invalid meal request')
			if (emptyFields)
				document.getElementById('errorBox').innerHTML += "<p>*Please select all fields to make a match request</p><br>"
			// if (!validMealTimes)
			// 	document.getElementById('errorBox').innerHTML += "<p>*Please enter valid times for a match request</p><br>"

			// prevents submission
			event.preventDefault();
		}
		else updateUrl();
	});



	lunchButton.addEventListener('click', updateUrl);
	dinnerButton.addEventListener('click', updateUrl);
		
	for(let i = 0; i < dHallButtons.length; i++)
		dHallButtons[i].addEventListener('click', updateUrl)
		
		let startTimeButton = document.getElementById("startTimeButton");
		let endTimeButton = document.getElementById("endTimeButton");
		startTimeButton.addEventListener('click', updateUrl);
		endTimeButton.addEventListener('click', updateUrl);
		// update url on changing times
		startTimeButton.addEventListener('change', updateUrl);
		endTimeButton.addEventListener('change', updateUrl)

</script>


<style>
	* {
		box-sizing: border-box;
	}

	body {
		font-family: "Maven Pro", sans-serif;
		font-weight: normal;
	}

	#header {
		font-weight: 900;
	}

	.outlineBox {
		width: 100%;
		height: 727px;
		background: rgba(255, 255, 255, 1);
		opacity: 1;
		position: absolute;

		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		border-bottom-left-radius: 16px;
		border-bottom-right-radius: 16px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}

	#mealType {
		margin: 20px;
		margin-top: 20px;

	}

	.menuButton {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	button {
		background-color: white;
	}

	.submitButton {
		background-color: rgba(255, 159, 70, 1);
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
		color: white;
	}
</style>