<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | Tutorial</title>
	{% include 'imports.html' %}
</head>

<body>
	{% include 'header.html' %}
	<div class="container-fluid">
		<br>
            <div style="margin-top: 10px;">
               <h2 class = "forceMaven">Tutorial</h2>
               <hr>
            </div>
	</div>
	<div class="container-fluid" id="developers">
		<hr>
		<h3>Who built this? </h3>
		<div class="row">
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/rajiv.png"  class="rounded-circle about_img">
				<p>Rajiv Swamy<br>rswamy@princeton.edu</p>				
			</div>
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/adam.png"   class="rounded-circle about_img">
				<p>Adam Kelch<br>akelch@princeton.edu</p>
			</div>
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/ameya.png"  class="rounded-circle about_img">
				<p>Ameya Vaidya<br>avaidya@princeton.edu</p>
			</div>
			<div class = "col-sm-3 text-center align-middle">
				<img src = "/static/jeremy.png" class="rounded-circle about_img">
				<p>Jeremy Dapaah<br>jdapaah@princeton.edu</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<hr>
		<h3>Acknowledgements</h3>
		<a style="color:black;" href="https://dorazhao99.github.io/">Dora Zhao, Graduate TA</a><br>
		<a style="color:black;" href="https://www.cs.princeton.edu/~rdondero/">Dr. Robert Dondero, Course Professor</a><br>
	</div>



</body>

</html>
<style>
	.about_img{
		height: 200px;
		border: 1px;
		border-radius: 10px;
	}
</style>