<!DOCTYPE html>
<html>

<head>
	<title>MealMatch | Tutorial</title>
	{% include 'imports.html' %}
</head>

<body>
	{% include 'header.html' %}
	<div class="container justify-content-between align-items-center">
		<div class="container-fluid" id="TitleAndIntro">
			<br>
			<div class = "justify-content-between align-items-center"style="margin-top: 10px;">
				<center><h2>Welcome to the MealMatch Tutorial!
				</h2>
				<hr>
				<p>Before you start meeting and eating with people on MealMatch, here's a brief guide on how to use the
					platform.</p>
				</center>
			</div>
		</div>
		<div class="container-fluid" id="profile">
			<div class="row">
				<h2>Creating and Editing Your Profile</h2>
			</div>
			<div class="row">
				<p> When you navigate to the app and login for the first time, you'll be brought to the
					<b>Create an Account</b> page. Here you can select your year and major, as well as
					enter a short bio to introduce yourself.
				</p>
			</div>
			<center id="cprofileimg">
				<div class="row container-fluid">
					<div class = 'col-lg-1'></div>
					<img class = 'tutorial-img col-lg-10'
						src="/static/tutorial/FilledOutCreate.png"/>
					<div class = 'col-lg-1'></div>
				</div>
				<br/>
			</center>
			<div class="row">
				<p>
					You can return to this page to update your
					info by clicking the profile button on the home page.
				</p>
				<br>
				<br/>
			</div>
			<center>
				<div class="row container-fluid align-items-center">
					<div class = 'col-lg-1'></div>
					<img class = 'tutorial-img col-lg-10'
						src="/static/tutorial/HS_Profile.png"/>
					<div class = 'col-lg-1'></div>
				</div>
			</center>
		</div>
		<div class="container-fluid" id="matching">
			<hr/>
			<div class="row">
				<h2>Matching</h2>
			</div>
			<div class="row">
				<p>With MealMatch, you can match to eat with new people in two main ways: <b>On-Demand</b> and
					<b>Scheduled</b>.
				</p><br>
			</div>
			<div class="row">
				<p><b>On-Demand</b> matching allows a user to match with people when they are currently at a dining
					hall.<br>
					Matches can be made with this feature during Lunch hours of <b>11:30AM - 2:00PM</b> on weekdays and
					<b>10:00AM - 2:00PM</b> on weekends, and during Dinner hours of <b>5:00PM - 8:00PM</b> (all in EDT).
					Click on the <b>I'M AT A DHALL</b> button, outlined in red, to get started.
					<br>
				</p>
				<p>
					<b>Scheduled</b> matching allows a user to match with people later in the same day (near-future).
					Matches can be made with this feature during dining hall hours Lunch and Dinner for times <b>later
						in the day</b> (after present time).
					Click on the <b>SCHEDULE A MEAL</b> button, outlined in blue, to get started.
				</p>
				<p><b>Recurring</b> matching allows you match with people on a regular basis. You configure a request for a
					specific time on a set of
					days that you choose, and we'll automatically submit a request for you during that meal period.
					Click on the <b>RECURRING MEALS</b> button, outlined in green, to get started.</p>
			</div>
			<center>
				<div class="row container-fluid">
					<div class = 'col-lg-1'></div>
					<img class = 'tutorial-img col-lg-10'
						src="/static/tutorial/HS_RequestTypes.png"/>
					<div class = 'col-lg-1'></div>
				</div>
			</center>
		</div>
		<div class="container-fluid" id="meal-request">
			<hr/>
			<div class="row">
				<h2>Meal Requests</h2>
			</div>
			<div class="row">

				<p>Meal requests tell MealMatch your dining preferences and availability so that we can match you to eat with other students.
				</p><br>
				<p>To create a meal request, simply specify what type of meal you want to eat (for scheduled meals), where
					you want to eat, and when you want to eat.
				</p><br>
				<p>After selecting your desired meal type, preferred dining hall locations, and time availability, we will
					find you a match who also wants to eat at the same time and place.
				</p>
				<p>
					The image below is an example of how to use the menu to create requests. <br>
					This user has created a request for <b>Lunch @ RoMa</b> from <b>1:05PM - 1:50PM</b>.<br>
				</p>
				<p>When submitting requests, be sure to specify times that are <b>not in the past</b>, <b>within dining hall
						hours</b> (for your specified meal), and are <b>at least 20 minutes apart</b>.
				</p>
			</div>
			<center>
				<div class="row container-fluid">
					<div class = 'col-lg-1'></div>
					<img class = 'tutorial-img col-lg-10'
						src="/static/tutorial/FilledOutScheduled.png"/>
					<div class = 'col-lg-1'></div>
				</div>
			</center>
			<hr>
		</div>
		<div class="container-fluid">
			<div class="row">
				<h2>Interacting with Matches</h2>
			</div>
			<div class="row">
				<p>
					Once a request is submitted, you'll be taken to the <b>Matches and Requests</b> page, where you can
					manage your meal requests and matches.
					Here, you have the option to delete existing requests, and accept or deny potential matches
					<center>
						<div class="row container-fluid">
							<div class = 'col-lg-1'></div>
						<img class = 'tutorial-img col-lg-10'
							src="/static/tutorial/ExistingRequest.png"/>
						<div class = 'col-lg-1'></div>
						</div>
					</center>
				</p>
			</div>
			<div class="row">
				<p>
					You can also reach this page from the navigation bar or the home screen.
					<center>
						<div class="row container-fluid">
							<div class = 'col-lg-1'></div>
						<img class = 'tutorial-img col-lg-10'
							src="/static/tutorial/HS_MatchReq.png"/>
						<div class = 'col-lg-1'></div>
						</div>
					</center>
				</p>
			</div>
		</div>
	</div>
</body>

</html>
<style>
	p {
		font-size: 18px;
	}

	.tutorial-img 
	{
		width: 80%; 
		height: 80%; 
		margin-top: 5px; 
		margin-bottom: 5px; 
		object-fit: contain;
		border: 3px #ff9f46 !important;
		border-width: 3px !important;
		box-shadow: 0 6px 5px #8888888e;
		
	}
</style>